body {
    background-color: #009294;
    font-family: 'Helvetica', sans-serif;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}
h1 {
    background-color: yellow;
    text-align: center;
    padding: 10px;
}
h3 {
    font-size: 16px;
    color: #FF0000;
}
ol {
    border-style: dashed;
    border-width: 4px;
    border-color: blue;
}